<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Kitchen</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
</head>
<body>
    <header>
        <h1>
            <img src="{{ url_for('static', filename='favicon-32x32.png') }}" alt="favicon">
             The Kitchen
        </h1>
    </header>

    <nav class = "global-nav">        
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('menu') }}">Menu</a>
        <a href="{{ url_for('location') }}">Location</a>
        <a href="{{ url_for('membership') }}">Membership</a>
        <a href="{{ url_for('order') }}">Order</a>
    </nav>

    <main>
        <section>
            <h2>Home Page</h2>

        </section>
        

    </main>

</body>
<footer> &copy Corey Wong</footer>
</html>
